# fly.toml app configuration file generated for rorlee on 2023-05-20T00:15:38+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
# See https://fly.io/docs/apps/autostart-stop/#how-it-works for more info about autostart-stop feature.
#

app = "rorlee"
primary_region = "mad"
console_command = "/rails/bin/rails console"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1

[[statics]]
  guest_path = "/rails/public"
  url_prefix = "/"
