<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-left">
  <%= image_tag 'rock_lee.jpg', class:"w-1/4" %>
    <div class="max-w-md ml-8">
      <h1 class="text-5xl font-bold">RoR Lee</h1>
      <p class="py-6">El loto de la Villa Oculta de la Hoja florece dos veces 🔥</p>
      <button class="btn btn-primary">¡Vamos!</button>
    </div>
  </div>
</div>
